<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!--
        DEBUG ONLY: HomeActivity for testing purposes
        This activity will only be included in debug builds
        -->

    </application>

</manifest>